
.item1 { grid-area: header; }
.item2 { grid-area: abo; }
.item3 { grid-area: eleve; }
.item4 { grid-area: parent; }
.item5 { 
	grid-area: matierea; 
	text-align: left !important;
	padding: 5px 5px 5px 5px !important;
	
}
.item6 { 
	
	grid-area: matiereb; 
	text-align: left !important;
	padding: 5px 5px 5px 5px !important;

 }
.item7 { grid-area: prof; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'abo abo eleve eleve parent parent'
    'abo abo matierea matierea matiereb matiereb'
    'prof prof matierea matierea matiereb matiereb';
  grid-gap: 10px;
  background-color: #f39c12;
  padding: 10px;
  margin: 15px 15px 15px 15px !important;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  line-height: 22px;
}

.grid-title{
  font-size: 20px;
  line-height: 28px;	
  font-weight: 900;
}

.grid-subtitle{
  font-size: 17px;
  line-height: 25px;	
  font-weight: 500 !important;	
}

/* pour mettre en surbrillance */
em{
	font-style: normal;
	font-weight: bold;
	color: #00aeff;
	background-color: #b3e7ff;
}

/* barre de recherche */

#sbx-icon-search-13{
    display: none;
}